<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="panel">
        <div class="panel-heading align-self-center">
          to-do list
          <span><i class="fa fa-gear fa-lg"></i></span>
        </div>
  
        <app-todoadd (notify)="onAdd($event)"></app-todoadd>
  
        <div class="panel-content">
          <ul>
            <li *ngFor="let item of toDoList; let i=index" 
              appHighlight
              (mouseover)="onOver(i)"
              (mouseleave)="onMouseLeave()"
              class="toDOItem" 
              matTooltip="{{  (item.title.length > 50) ? item.title : ''  }}" 
            >  
              <i *ngIf="item.isDone"  class="fa fa-check"    (click)="onToggle(item)"></i>
              <i *ngIf="!item.isDone" class="fa fa-circle-o" (click)="onToggle(item)"></i>
              {{ (item.title.length > 50) ? (item.title | slice:0:50) +'...' : (item.title) }}
              <span><i *ngIf="isMouseOver==i" class="fa fa-remove removeIcon" (click)="onRemove(item)" ></i></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>