$panel-title-height: 44px;
$panel-heading-font-size: 16px;
.panel {
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(#000000, 0.2);
  border: none;
  border-radius: 5px;
  margin-bottom: 24px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  background: url(../../../assets/bg-blurred.jpg);
  background-attachment: fixed;
}
.panel-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.12);
  height: $panel-title-height;
  font-size: $panel-heading-font-size;
  text-transform: uppercase;
  opacity: 0.9;
  $vertical-padding: ($panel-title-height - $panel-heading-font-size) / 2;
  padding: $vertical-padding 22px;
}
.panel-content {
    padding: 2% 5%;
}

.toDOItem {
    list-style: none;
    width: 100%;
    height: 60px;
    padding: 16px 0 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.12);
}
.toDOItem i {
    margin: 0 20px;
}
.removeIcon {
    float: right;
    padding-top: 5px;
}
.removeIcon:hover {
    cursor: pointer;
}
.fa-check, .fa-circle-o  {
    width: 10px;
}
.fa-check:hover , .fa-circle-o:hover  {
    cursor: pointer;
}
.fa-gear {
    float: right;
}