.btn-circle {
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    border:0;
    outline: none;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    margin-top: 20px;
    margin-left: 40px;
    transition: 0.3s;
    color: white;
    background-color:rgba(255, 255, 255, 0.3);    
}
.addInput {
    position: relative;
    left: -40px;
    width:40px;
    height: 40px;
    border:0;
    outline: none;
    border-radius: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    text-align: center;
    transition: 0.4s;

    font-size: 16px;
    padding-bottom: 5px;
    visibility: hidden;
}
.addInput.bigger {
    width: 80%;
    visibility: visible;
}