<div class="d-flex justify-content-center">
    <button class="btn btn-circle" (click)="onClick()">
      <i *ngIf="!buttonStatus" class="fa fa-plus" ></i>
      <i *ngIf= "buttonStatus" class="fa fa-check"></i>
    </button>
    <input [(ngModel)]="todo" class="addInput" [class.bigger]="buttonStatus">
  </div>