.background {
    width: 100%;
    height: 100%;
    background: url(../assets/bg.jpg) center center no-repeat;
    background-size: cover;
    position: fixed;
    padding-top: 30px;
    overflow-y: auto;
}